body{
  background-color: #F0F0F0;
  font-size: 2em;
  font-family:Arial, Helvetica, sans-serif;
}
.patata {
  border: 1px solid #FF0000;
}

.patata h2{
  color: #0000FF;
}
.lista-cursos{
  display: flex;
  flex-direction: column;
}
.un-curso{
  display: flex;
  flex-direction: row;
  width: 350px;
  border: 1px solid #909090;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  
}
.un-curso-nombre{
  width: 60%;
  background-color: #D0D0D0;
  padding: 10px;
}
.un-curso-nota{
  width: 40%;
  text-align: center;
  padding: 10px;
}